/* #Member_card {
  width: 600
  x;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
  float: left;
} */

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #4055b0, #4c3fc0);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.login-form,
.login-form * {
    box-shadow: border-box; 
    font-family: sans-serif;
}

.login-form {
  max-width: 350px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 15 px rgba(0, 0, 0, 0.15);
}

.login-form__content{
  padding:30px;
  background: #eeeeee;

}

.login-form__header{
  margin-bottom: 15px;
  text-align: center;
  color: #333333;
}

.login-form__input{
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  
  outline: none;
  transition: border-color 0.5s;
}

.login-form__button{
  padding: 8px;
  color: #333333;
  font-weight: bold;
  background: rgb(161,130,208);
  background: linear-gradient(11deg, rgba(161,130,208,1) 45%, rgba(19,161,240,1) 85%);
  width: 100%;
  border: none;
  outline: none;
  border: 5px;
  cursor: pointer;
}



.memebr_master,
.memebr_master * {
    box-shadow: border-box; 
    font-family: sans-serif;
}

.memebr_master {
  max-width: 350px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 15 px rgba(0, 0, 0, 0.15);
}


.nav-bar-master,
.nav-bar-master * {
    box-shadow: border-box; 
    font-family: sans-serif;
}

.nav-bar-master {
  max-width: 350px;
  margin: 0 auto;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 15 px rgba(0, 0, 0, 0.15);
}

#nav-bar{
  padding:10px;
  background: #eeeeee;
}

.Nav__button{
  padding: 3px;
  color: #333333;
  font-weight: bold;
  background: rgb(161,130,208);
  background: linear-gradient(11deg, rgb(102, 152, 228) 45%, rgb(228, 139, 143) 85%);
  width: 100%;
  border: none;
  outline: none;
  border: 5px;
  cursor: pointer;
}